.customNav{
    background-color: #e2b59a;
    color: #ffffff;

    a{
        color: #2c4232;
      text-decoration: none;
       margin-right: 1.5rem;
    };

    a:hover{
        text-decoration: none;
    }

    
    
}